<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Table Example</title>
    <style>
        table {
            width: 50%;
            border-collapse: collapse;
            margin: 20px 0;
        }

        table, th, td {
            border: 1px solid black;
        }

        th, td {
            padding: 10px;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>

    <h1>Doc's Information</h1>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Specialization</th>
            </tr>
        </thead>
        <tbody>
            {% for i in doctors %}
            <tr>
                <td>{{i.user_id}}</td>
                <td>{{i.user_name}}</td>
                <td>{{i.user_specialisation}}</td>
            </tr>
            {% endfor %}
            
        </tbody>
    </table>

</body>
</html>
